{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
  <div class='d-flex justify-content-between align-items-center'>
    <h1>게임 목록</h1>
    {% if user.is_authenticated %}
    <a class='btn btn-primary' href="{% url 'games:create' %}">게임 만들기</a>
    {% endif %}
  </div>
  <hr>
  <div>
      {% for post in posts %}
      <div class='index-box d-flex border border-secondary w-25 p-2 my-2 rounded mx-auto'>
        <div>
          <a class="index-title" href="{% url 'games:detail' post.pk %}">{{ post.title }}</a>

        
          <div class='d-flex align-items-center'>
            <a class="index-title index-profile" href="{% url 'accounts:profile' post.user.username %}">
              <div class='d-flex align-items-center'>
                {% if post.user.image %}
                  <div style='width:13px;'>
                    <img class='rounded-circle w-100' src="{{ post.user.image.url }}" alt="{{ post.user.username }}">
                  </div>
                {% else %}
                  <div style='width:13px;'>
                    <img class='rounded-circle w-100' src="{% static 'no-image.png' %}" alt="no-image">
                  </div>
                {% endif %}
  
                <span class='ms-2'>{{ post.user.username }}</span>
              </div>
            </a>

            <span class='ms-2 created-at text-secondary'>{{ post.created_at|format_time_since }}</span>
          </div>
         
        </div>
        
        <div class='d-flex flex-grow-1 flex-row-reverse mt-2'>
          <form class="like-form" data-post-id="{{ post.pk }}">
            {% csrf_token %}
            {% if user in post.like_users.all %}
            <button class='btn border-0 text-black pe-1' style="width:30px;" name="like" value="index" type="submit" id="like-{{ post.pk }}">
                <img class='w-100' src="{% static 'like.png' %}" alt="like">
            </button>
            {% else %}
            <button class='btn border-0 text-black pe-1' style="width:30px;" name="like" value="index" type="submit" id="like-{{ post.pk }}">
                <img class='w-100' src="{% static 'unlike.png' %}" alt="unlike">
            </button>
            {% endif %}
          </form>
        </div>
      </div>
      {% endfor %}
  </div>
  <hr>
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    {% for page_number in posts.paginator.page_range %}
      {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
        {% if page_number == posts.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
    {% endif %}
  </ul>
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock content %}