{% extends 'base.html' %}
{% load static %}

{% block style_link %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock style_link %}

{% block content %}

  {% comment %} Navbar {% endcomment %}
  <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">
      <div style="width: 200px;">
        <img class='img-fluid' src="{% static 'logo.svg' %}" alt="logo">
      </div>
      
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        이미지 공유
      </button>

    </div>
  </nav>

  {% comment %} Modal {% endcomment %}

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">이미지 공유 폼</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="{% url 'albums:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <div class='d-flex flex-row-reverse'>
              <input class='btn btn-primary' type="submit" value='공유하기'>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Content {% endcomment %}

  <div class='container'>
    {% for album in albums %}
      <div class="card">
        <div class="card-img-top img-box">
          {% if album.image %}
            <img class='img-content' src="{{ album.image.url }}" alt="{{ album.content }}">
          {% else %}
            <img class='img-content' src="{% static 'no-image.jpg' %}" alt="no-image">
          {% endif %}
        </div>

        <div class="card-body d-flex justify-content-between align-items-center">
          {{ album.content }}
          <form action="{% url 'albums:delete' album.pk %}" method="POST">
            {% csrf_token %}
            <input class='btn btn-danger' type="submit" value="삭제">
          </form>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
