{% extends 'base.html' %}

{% block style %}
  .container {
    {% if book.category == '식비' %}
      border: 1px solid rgb(13, 110, 253);
    {% elif book.category == '고정비' %}
      border: 1px solid rgb(25, 135, 84);
    {% elif book.category == '여가비'%}
      border: 1px solid rgb(255, 193, 7);
    {% elif book.category == '교통비' %}
      border: 1px solid rgb(220, 53, 69);
    {% else %}
      border: 1px solid rgb(13, 202, 240);
    {% endif %}
    border-radius: 50px; 
    padding: 50px;
  }
{% endblock style %}

{% block content %}
<div class='container w-50'>
  <div class='d-flex justify-content-between align-items-center mt-3 mx-4'>
    <h1>Detail
    </h1>
    <button class="btn btn-primary h-50" onclick="location.href='{% url 'accountbooks:index' %}'">메인</button>
  </div>
  <hr>

  <div class='ms-4'>
    <p>내용 - {{ book.note }}</p>
    <p>메모 - {{ book.description }}</p>
    <p>분류 - {{ book.category }}</p>
    <p>사용 금액 - {{ book.amount }}</p>
    <p class='mb-5'>사용 날짜 - {{ book.date }}</p>
    <p style="margin:0; font-size:15px; text-align:end; color:gray;">생성 날짜 - {{ book.created_at }}</p>
    <p style="margin:0; font-size:15px; text-align:end; color:gray;">수정 날짜 - {{ book.updated_at }}</p>
    <div class="d-flex my-2">
      <a class="btn btn-outline-primary mx-2" href="{% url 'accountbooks:edit' book.pk%}">수정</a>
      <form action="{% url 'accountbooks:delete' book.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-primary" type="submit">삭제</button>
      </form>
      <form action="{% url 'accountbooks:copy' book.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-primary mx-2" type="susbmit">복사</button>
      </form>
    </div>
  </div>

</div>

{% endblock content %}

