{% extends 'accounts/login.html' %}

{% block sidebar %}
{% endblock sidebar %}

{% block accounts_title %}
  회원가입
{% endblock accounts_title %}

{% block accounts_url %}
  {% url 'accounts:signup' %}
{% endblock accounts_url %}

{% block accounts_form %}

  {{ form.username }}
  <label class='mb-4 text-secondary' style='margin-left:140px;'> 영문 소문자 또는 영문 소문자, 숫자 조합 6~12 자리 </label>
  {{ form.email }}

  {{ form.first_name }}

  {{ form.last_name }}

  <label class='my-3 text-secondary' style='margin-left:140px;'>생년월일</label>
  {{ form.birthday }}

  {{ form.password1 }}

  {{ form.password2 }}
  <label class='mb-4 text-secondary' style='margin-left:140px;'> 영문, 숫자, 특수문자(~!@#$%^&*) 조합 8~15 자리 </label>
{% endblock accounts_form %}

{% block accounts_submit %}
  <input style="width:70%; padding:20px; font-size: 21px;" class='btn btn-danger fw-bold my-5' type="submit" value="가입하기">
{% endblock accounts_submit %}