{% extends 'accounts/login.html' %}

{% block sidebar %}
{% endblock sidebar %}

{% block accounts_title %}
  회원비밀번호 변경
{% endblock accounts_title %}

{% block accounts_url %}
  {% url 'accounts:change_password' %}
{% endblock accounts_url %}

{% block accounts_form %}
  {{ form.old_password}}
  {{ form.new_password1}}
  {{ form.new_password2}}
{% endblock accounts_form %}

{% block accounts_submit %}
  <input style="width:70%; padding:20px; font-size: 21px;" class='btn btn-danger fw-bold my-5' type="submit" value="비밀번호 변경">
{% endblock accounts_submit %}
